.remove-edu-icon {
	font-size: 1.2rem;
}

.delete-edu {
	position: absolute;
	right:5px;
	top: 5px;
}

// input.ng-invalid.ng-touched, select.ng-invalid.ng-touched {
// 	border: 1px solid red;
// }

.border-red {
	border: 1px solid red !important;
}

