
<div class="container mt-3">

	<div class="d-flex bg-light justify-content-between p-2">
		<h5 class="m-0">Employee Data</h5>
		<button class="btn btn-primary btn-sm" [routerLink]="'/product-form'">
			<i class="bi bi-plus"></i>
		</button>
	</div>

	<div class="d-flex bg-light justify-content-between my-3">
		<router-outlet></router-outlet>
	</div>

	<div class="table-responsive mt-3">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>Image</th>
					<th>Name</th>
					<th>Email</th>
					<th>DOB</th>
					<th>Gender</th>
					<th>Education</th>
					<!-- <th>Tech Stack</th> -->
					<th>hobbies</th>
					<th>Action</th>
				</tr>
			</thead>

			<tbody>
				<tr *ngFor="let employee of employeeData; let i = index;">
					<td>{{i+1}}</td>
					<td><img [src]="employee.image" width="50" height="50" [alt]="employee.name"></td>
					<td>{{employee.name}}</td>
					<td>{{employee.email}}</td>
					<td>{{employee.dob | date: 'dd/MM/yyyy'}}</td>
					<td>{{employee.gender}}</td>
					<td><div *ngFor="let edu of employee.education">{{edu}}</div></td>
					<!-- <td ><div *ngFor="let tech of employee.techStack">{{tech}}</div></td> -->
					<td ><div *ngFor="let hobby of employee.hobbies">{{hobby}}</div></td>
					<td>
						<button class="btn btn-success btn-sm me-2" (click)="updateEmployee(employee)">
							<i class="bi bi-pen-fill"></i>
						</button>
						<button class="btn btn-danger btn-sm" (click)="deleteEmployee(employee.id, i)">
							<i class="bi bi-x"></i>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
</div>
